<div class="bookmark-icon-container" data-controller="bookmark-toggle">
  <%= turbo_frame_tag "bookmark_count_#{emotion_log.id}" do %>
    <span class="bookmark-count" data-bookmark-toggle-target="count">
      <%= emotion_log.bookmarks.size %>
    </span>
  <% end %>

  <% if user_signed_in? %>
    <% if @user_bookmark_ids.include?(emotion_log.id) %>
      <%= render 'unbookmark', emotion_log: emotion_log %>
    <% else %>
      <%= render 'bookmark', emotion_log: emotion_log %>
    <% end %>
  <% else %>
    <%= link_to 'ログインしてブックマークする', user_soundcloud_omniauth_authorize_path, class: 'btn btn-primary' %>
  <% end %>
</div>
