<%= turbo_frame_tag "bookmark_wrapper_#{emotion_log.id}" do %>
  <div class="bookmark-icon-container" data-controller="bookmark-toggle">
    <span class="bookmark-count" data-bookmark-toggle-target="count">
      <%= emotion_log.bookmarks.size %>
    </span>

    <% if user_signed_in? %>
      <% if @user_bookmark_ids.include?(emotion_log.id) %>
        <%= render 'unbookmark', emotion_log: emotion_log %>
      <% else %>
        <%= render 'bookmark', emotion_log: emotion_log %>
      <% end %>
    <% else %>
      <%= link_to user_soundcloud_omniauth_authorize_path,
  class: 'neon-bookmark-btn d-flex align-items-center gap-2 justify-content-center',
  data: { turbo: false } do %>
  <%= image_tag '3dheart.png', alt: 'dheart', size: '24x24' %>
  <span>ログインしてブクマする</span>
<% end %>


    <% end %>
  </div>
<% end %>
