<%= turbo_frame_tag "logs_list_mobile" do %>
  <% if @bookmark_page.present? %>
  <div class="bookmark_title"><%= @bookmark_page %></div>
  <div data-controller="bookmark" class="bookmark-panel">
    <div class="bookmark-toolbar">
      <label class="bookmark-merge-toggle-label">
        <input type="checkbox"
          id="mypage-merge-toggle-mobile"
          class="form-check-input"
          data-action="change->bookmark#toggleMyPageLogs"
          name="include_my_logs"
          <%= 'checked' if params[:include_my_logs] == 'true' %>
          form="mobile-search-form">
        マイページの投稿も含める
      </label>

      <% if current_user.playlists.count < 12 %>
                <div
          data-controller="playlist-modal"
          data-playlist-modal-id-value="playlist-modal-mobile">
          <button
            type="button"
            class="bookmark-playlist-create-btn"
            data-action="click->playlist-modal#open">
            プレイリストを作成する
          </button>
        </div>

      <% else %>
        <button class="btn btn-secondary" disabled>プレイリストは12個まで作成可能です</button>
      <% end %>
    </div>
  </div>

  <% elsif @mypage_title.present? %>
    <span class="bookmark_title"><%= @mypage_title %></span>
  <% elsif @recommended_page.present? %>
    <span class="bookmark_title"><%= @recommended_page %></span>
  <% else %>
    <div class="mobile-hp-bar-container">
      <div class="mobile-hp-bar" id="hp-bar"></div>
      <span class="mobile_today_mental_text">
        👆Today's stress level <span id="bar-width-display-mobile"></span>👆
      </span>
    </div>
  <% end %>

  <div class="mobile-pagination-center">
    <%= paginate @emotion_logs, params: request.query_parameters.merge(view: "mobile") %>
  </div>

  <div class="mobile-content pb-5 px-3 mt-4">
    <%= render partial: "emotion_logs/mobile_list", locals: { logs: @emotion_logs } %>
    <div class="player-space-spacer"></div>
  </div>
<% end %>
