<!-- playlist_partial.html.erbのイメージ -->
<div class="playlist-header">
  <button class="btn btn-primary" id="open-create-modal">プレイリストを作成</button>
</div>

<form id="bookmark-playlist-form" action="<%= create_playlist_path %>" method="post">
  <% emotion_logs.each do |log| %>
    <div>
      <input type="checkbox" name="selected_logs[]" value="<%= log.id %>">
      <%= log.emotion %> <%= log.track_name %>
      <!-- ここにSoundCloudプレイヤーやブックマークボタンも -->
    </div>
  <% end %>
  <!-- モーダルUI等でプレイリスト名入力欄を表示してもOK -->
</form>

<!-- 作成されたプレイリスト一覧（イメージの左側部分） -->
<div class="playlist-list">
  <% @playlists.each do |playlist| %>
    <div class="playlist-name" data-playlist-id="<%= playlist.id %>">
      <%= playlist.name %>
    </div>
  <% end %>
</div>
