<!-- ブックマークした感情ログ一覧 -->
<% content_for :title, "ブックマークページ" %>
  <input type="checkbox" name="selected_logs[]" value="<%= log.id %>" class="bookmark-check ms-2">
<%= render "shared/flash_container" %>

<div class="container mt-0">
  <div class="text-center d-flex align-items-center justify-content-center w-90">
    <%= link_to emotion_logs_path do %>
      <%= image_tag "favorite_emotion.jpg",
        alt: "Emotion List Logo",
        class: "favorite-fluid bookmark-header-img" %>
    <% end %>
  </div>
</div>


  <div class="row justify-content-center">
    <% @emotion_logs.each do |log| %>
      <div class="col-md-8 mb-4">
        <div class="card">
          <div class="card-header d-flex justify-content-between align-items-center">
            <strong><%= log.created_at.in_time_zone('Tokyo').strftime('%Y/%m/%d %H:%M') %></strong>

          </div>

          <div class="card-body">
            <div class="d-flex align-items-center">
              <p class="card-text mb-0">
                <%= link_to log.emotion, emotion_log_path(log), class: "button" %>
                <span class="ms-3">
                  <%= log.description.present? ? log.description.truncate(10) : "一言はありません" %>
                </span>
              </p>

              <% if log.music_url.present? %>
                <audio controls class="ms-3" preload="none">
                  <source src="<%= log.music_url %>" type="audio/mpeg">
                  お使いのブラウザはオーディオ要素をサポートしていません。
                </audio>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="text-center mt-3">
    <%= link_to '戻る', emotion_logs_path, class: 'btn btn-secondary' %>
  </div>
</div>
